<head>
    {% load static %}
       <link rel="stylesheet" href="{% static 'index/css/style.css' %}">
        <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="{% static 'index/css/materialize.min.css' %}">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
        <title>Emporium</title>


        
</head>

<body> 
       <nav class="nav" role="navigation">
            
            <div class="nav-wrapper container" >
                <a  href="/" class="brand-logo" style="height: 30px;" >
                     <img class="logo" src="{% static 'index/image/logo1.png' %}">
                    
                </a>
                 <a href="/" class="brand-logo"></a>  
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/"><i class="material-icons left">group</i>Team</a></li>
                    <li><a href="/"><i class="material-icons left">help</i>Help</a></li>
                    <li><a href="/"><i class="material-icons left">group_work</i>About</a></li>
                    <li><a href="/"><i class="material-icons left">local_phone</i>Contact</a></li>
                    <li><a href="/"><i class="material-icons left">account_circle</i>Login</a></li>
                </ul>
            </div>
        </nav> 


       

        {% block content %}
       


{% endblock %}
