{% extends "index/header.html" %}
{% load static %}

{% block content %}
 



<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Annalyzinator</h1>
    <div class="row center">
      <h5 class="header col s12 light">Analyze the stock</h5>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <h1>graph</h1>      
</div>

  </div>
  <br><br>
</div>


<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We help you make ana;ysis for your stock investment.</p>


        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
              <li><a href="/"><i class="material-icons right">Facebook</i>Facebook</a></li>
            <li><a class="white-text" class="material-icons" href="#!"><i class="fab fa-facebook">Facebook</i> Facebook</a></li><br>
            <li><a class="white-text" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li><br>
            <li><a class="white-text" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li><br>
            <li><a class="white-text" href="#!"><i class="fab fa-twitter"></i> Twitter</a></li><br>
            <li><a class="white-text" href="#!"><i class="fab fa-linkedin"></i> Linked-In</a></li><br>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container" align="center">
      Copyright &copy; 2019 <a class="brown-text text-lighten-3" href="#">The Emporium</a>
      </div>
    </div>
  </footer>


{% endblock %}     

        

